body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-wrapper {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    outline: none;
    transition: border 0.3s;
}

.form-input:focus {
    border-color: #4CAF50;
}

.create-btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.create-btn:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

.create-btn:active {
    transform: translateY(2px);
    background-color: #388e3c;
}


@media (max-width: 600px) {
    .form-wrapper {
        padding: 20px;
        width: 90%;
    }

    .form-btn {
        padding: 10px;
    }
}
